header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  color: var(--font-black);
  padding: 0 40px;
  font-size: 18px;
  height: 10vh;
}
.homepage main {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homepage .hero-image {
  position: relative;
  height: 75vh;
}
.homepage .hero-image .portfolio {
  height: 100%;
}

.hero-image .welcome {
  position: absolute;
  top: -10px;
  right: 80px;
  font-family: "Regan-ExtraBold";
  font-size: 35px;
  letter-spacing: 1px;
  color: #747474;
}
.welcome span {
  color: #009349;
}
.homepage-date {
  position: relative;
  margin: auto;
  width: fit-content;
  height: fit-content;
}
.homepage-date p {
  margin: 10px 0;
  font-family: "Regan-ExtraBold";
  font-size: 36px;
  color: var(--font-black);
  /* mix-blend-mode: color-burn; */
}
.homepage-date div {
  position: absolute;
  bottom: 10px;
  width: 100%;
  background: #e3a81daf;
  height: 25px;
  mix-blend-mode: multiply;
}

.scroll {
  width: fit-content;
  margin: auto;
  font-size: 18px;
  font-family: "Poppins";
  cursor: pointer;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}
.scroll a {
  text-decoration: none;
  color: var(--font-black);
}

.down-arrow {
  width: 20px;
}
.cloud {
  position: absolute;
  width: 500px;
  bottom: 0px;
  right: 20px;
  z-index: -1;
}
.cloud2 {
  position: absolute;
  width: 500px;
  top: 100px;
  left: 20px;
  z-index: -1;
}

.welcome-banner {
  background-color: var(--font-black);
  /* margin-bottom: 50px; */
  /* width: 100vw; */
}
.welcome-banner .marquee-content {
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 800;
  color: white;
  display: flex;
}
.welcome-banner span {
  padding: 20px 30px;
}

.marquee {
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.marquee-content {
  display: inline-block;
  animation: marquee 50s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marquee-content span:nth-child(1),
.marquee-content span:nth-child(6),
.marquee-content span:nth-child(11) {
  color: #009349;
}
.marquee-content span:nth-child(2),
.marquee-content span:nth-child(7),
.marquee-content span:nth-child(12) {
  color: #e3a81d;
}
.marquee-content span:nth-child(3),
.marquee-content span:nth-child(8),
.marquee-content span:nth-child(13) {
  color: #3868a5;
}
.marquee-content span:nth-child(4),
.marquee-content span:nth-child(9),
.marquee-content span:nth-child(14) {
  color: #d3719f;
}
.marquee-content span:nth-child(5),
.marquee-content span:nth-child(10),
.marquee-content span:nth-child(15) {
  color: #d41e28;
}

.marquee-content span:nth-child(16),
.marquee-content span:nth-child(21),
.marquee-content span:nth-child(26) {
  color: #009349;
}
.marquee-content span:nth-child(17),
.marquee-content span:nth-child(22),
.marquee-content span:nth-child(27) {
  color: #e3a81d;
}
.marquee-content span:nth-child(18),
.marquee-content span:nth-child(23),
.marquee-content span:nth-child(28) {
  color: #3868a5;
}
.marquee-content span:nth-child(19),
.marquee-content span:nth-child(24),
.marquee-content span:nth-child(29) {
  color: #d3719f;
}
.marquee-content span:nth-child(20),
.marquee-content span:nth-child(25),
.marquee-content span:nth-child(30) {
  color: #d41e28;
}

@media screen and (max-width: 1500px) {
  .cloud {
    right: 0;
  }
}
@media screen and (max-width: 1000px) {
  .hero {
    width: 700px;
  }
  .cloud {
    right: 0;
    display: none;
  }
  .cloud2 {
    right: 0;
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .homepage .hero-image {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
  .hero-image .portfolio {
    width: 100%;
  }
  .hero-image .welcome {
    position: absolute;
    top: -10px;
    right: 50px;
    font-family: "Regan-ExtraBold";
    font-size: 22px;
    letter-spacing: 1px;
    color: #747474;
  }

  header {
    height: 80px;
  }
  .homepage main {
    height: fit-content;
  }

  .scroll {
    margin-bottom: 30px;
  }
  .scroll a {
    text-decoration: none;
    color: var(--font-black);
  }

}
@media screen and (max-width: 500px) {
 
  header{
    font-size: 16px;
  }
 
  .scroll{
    font-size: 16px;
  }
}
