.project1-wrapper {
  width: 100%;
  background-color: #cd7296;
  height: 100%;
}
.project1-main-left {
  width: 150px;
}

.project1-main {
  display: flex;
}
.project1-main-right .container{
  margin-top: 50px ;
  margin-bottom: 50px ;
}
.project1-main-right {
  background-color: #fcf7ef;
  height: 100%;
  display: flex;
  width: 100%;
  border-top-right-radius: 90px;
}
.project1-title {
  margin-right: 150px;
}

.project1-title h1 {
  font-family: "Regan-ExtraBold";
  color: white;
  font-size: 60px;
  margin: 0;
  padding: 50px 0;
  text-align: right;
}

.project-1{
  padding: 70px 125px 50px 100px;
  display: flex;
  align-items: center;
}
.project-description a{
  text-decoration: none;
}
.project-description a:hover{
  text-decoration: underline;
}

.project-bubbles{
  margin-top: 20px;
  display: flex;
  column-gap: 15px !important
}
.project-bubbles p {
  border: 3px solid blue;
  width: auto !important;
  padding: 5px 25px;
  border-radius: 50px;
  transition: .5s ease all;
}


.project-bubbles p:nth-child(1) {
  border: 3px solid #009349;
}

.project-bubbles p:nth-child(1):hover {
  background-color: #009349;
  color: white;
}

.project-bubbles p:nth-child(2) {
  border: 3px solid #3868a5;
}

.project-bubbles p:nth-child(2):hover {
  background-color: #3868a5;
  color: white;
}

.project-bubbles p:nth-child(3) {
  border: 3px solid #d3719f;
}

.project-bubbles p:nth-child(3):hover {
  background-color: #d3719f;
  color: white;
}

.project-bubbles p:nth-child(4) {
  border: 3px solid #d41e28;
}

.project-bubbles p:nth-child(4):hover {
  background-color: #d41e28;
  color: white;
}

.project-bubbles p:nth-child(5) {
  border: 3px solid #e3a81d;
}

.project-bubbles p:nth-child(5):hover {
  background-color: #e3a81d;
  color: white;
}

.project-1 h2:nth-child(1){
  font-size: 50px;
  font-family: 'Regan-bold';
  width: 100%;
  color: #008949;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.project-1 h2 img{
  width: 30px;
}
.project-1 p{
  margin: 0;
  font-size: 16px;
  font-family: 'Poppins';
  width: 80%;
}

.project1-main-right hr{
  margin: 0 50px;
}




.project-2{
  padding: 50px 100px 50px 120px;
  display: flex;
  align-items: center;
}
.project-2 h2{
  font-size: 50px;
  font-family: 'Regan-bold';
  width: 100%;
  color: #008949;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  text-align: right;
}
.project-2 h2 img{
  width: 30px;
}
.project-2 .project-description{
  display: flex;
  flex-direction: column;
  align-items: end;
 
}
.project-2 p{
  font-size: 16px;
  font-family: 'Poppins';
  width: 80%;
  text-align: right;
  margin: 0;
}
.project-image img{
  width: 300px;
  border-radius: 20px;
  rotate: -15deg;
  aspect-ratio: 1/1;
}


.p1{
  color: #008949;
}
.p2{
  color: #cd7296;
}
.p3{
  color: #e3a81d;
}
.p4{
  color: #3868a5;
}










/* 
.project-grid-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  margin:100px  60px;
}

.grid-wrapper {
  position: relative;

}

.arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0px;
  z-index: 1;
  overflow: visible;
  cursor: pointer;
  transition: .2s ease all;
}

.arrow:hover {
  scale: 1.1;
}

.grid-description {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: justify;
  transition: all 0.4s ease;
  font-size: 16px;
  font-family: "Poppins";
  z-index: 2;

}

.grid1 .grid-description {
  top: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.377);
  backdrop-filter: blur(6px);
  color: #201a1a;
  text-align: justify;
}

.grid2 .grid-description {
  top: 0;
  left: 100%;
  background: rgba(255, 255, 255, 0.377);
  backdrop-filter: blur(6px);
  color: #fff;
}

.grid3 .grid-description {
  bottom: 100%;
  left: 0;
  border-top-right-radius: 60px !important;
  overflow: hidden;  
  background: rgba(255, 255, 255, 0.377);
  backdrop-filter: blur(6px);
  color: var(--font-black);
}
.grid4 .grid-description {
  top: 0;
  right: 100%;
  background: rgba(255, 255, 255, 0.377);
  backdrop-filter: blur(6px);
  color: var(--font-black);
}
.grid5 .grid-description {
  top: 100%;
  left: 0; 
  background: rgba(255, 255, 255, 0.377);
  backdrop-filter: blur(6px);
  color: #0f0e0e;
  text-align: left;
}
.grid6 .grid-description {
  top: 0;
  left: 100%;
  background: rgba(255, 255, 255, 0.377);
  backdrop-filter: blur(6px);
  color: #fff;
}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6 {
  position: relative;
  overflow: hidden;
}

.grid-wrapper:hover .grid1 .grid-description {
  top: 0;
}

.grid-wrapper:hover .grid2 .grid-description {
  left: 0;
}

.grid-wrapper:hover .grid3 .grid-description {
  bottom: 0;
}
.grid-wrapper:hover .grid4 .grid-description {
  right: 0;
}
.grid-wrapper:hover .grid5 .grid-description {
  top: 0;
}
.grid-wrapper:hover .grid6 .grid-description {
  left: 0;
}


.grid1 {
  background: #e7ab1b;
  width: 100%;
  aspect-ratio: 1/1;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
  font-family: 'Regan-bold';
  color: var(--font-black);
  font-size: 60px;
  text-align: end;
}
.grid1 p, .grid2 p, .grid3 p, .grid4 p, .grid5 p, .grid6 p{
  margin: 0;
  padding: 15px !important;
}

.grid2 {
  background: #da1d2a;
  width: 100%;
  aspect-ratio: 1/1;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
  font-family: 'Regan-bold';
  color: #fcf7ef;
  font-size: 60px;
  display: flex;
  align-items: end;
}

.grid3 {
  background: #8854a3;
  width: 100%;
  aspect-ratio: 1/1;
  border-top-right-radius: 60px;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
  font-family: 'Regan-bold';
  color: #fcf7ef;
  font-size: 60px;
}

.grid4 {
  background: #cd7296;
  width: 100%;
  aspect-ratio: 1/1;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
  font-family: 'Regan-bold';
  color: #fcf7ef;
  font-size: 60px;
}

.grid5 {
  background: #8788f5;
  width: 100%;
  aspect-ratio: 1/1;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
  font-family: 'Regan-bold';
  color: #fcf7ef;
  font-size: 60px;
  text-align: end;
}

.grid6 {
  background: #008949;
  width: 100%;
  aspect-ratio: 1/1;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
  font-family: 'Regan-bold';
  color: #fcf7ef;
  font-size: 60px;
  display: flex;
  align-items: end;
}


@media screen and (max-width: 1500px) {
  .project-grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }

  .arrow {
    width: 30px;
    height: 30px
  }
}

@media screen and (max-width: 1000px) {
  .project-grid-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .grid2 {
    border-top-right-radius: 45px;
  }

  .grid3 {
    border-top-right-radius: 0px;
  }

}

@media screen and (max-width: 700px) {
  .project-grid-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 20px !important;
  }

  .arrow {
    width: 25px;
    height: 25px
  }
}

@media screen and (max-width: 500px) {
  .project-grid-wrapper {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .grid1 {
    border-top-right-radius: 60px;
    text-align: left;
  }

  .grid2 {
    border-top-right-radius: 0px;
    text-align: left;
    align-items: flex-start;
  }
  .grid3{
    text-align: left;
  }
  .grid3 .grid-description{
    border-top-right-radius: 0 !important;
  }
  .grid5{
    text-align: left;
  }
  .grid6{
    align-items: flex-start;
  }

  .arrow {
    width: 55px;
    height: 55px
  }
}









 */
