.project2-wrapper {
  height: 2500px;
  background-color: #e7ab1b;
  position: relative;
}
.project2-wrapper h2 {
  font-family: "Regan-ExtraBold";
  color: white;
  font-size: 60px;
  margin-left: 20%;
  padding-top: 80px;
  margin-top: 0;
}
.project2-box {
  background: #fcf7ef;
  position: absolute;
  width: 93%;
  height: 2350px;
  bottom: 0;
  right: 0;
  border-top-left-radius: 120px;
}
.globe {
  width: 120px;
  position: absolute;
  right: 70px;
  top: 30px;
}
.project2-box .flower {
  width: 100px;
  position: absolute;
  top: 900px;
  left: -50px;
}
.project2-box .tomato-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 80px;
  margin: 40px 0 !important;
}
.tomato-desc {
  flex: 2;
  background-image: url("/assets/cloud.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.tomato-desc p {
  font-family: "Poppins";
  font-size: 18px;
  color: var(--font-black);
  text-align: justify;
}
.project2-box .tomato-desc p span {
  font-family: "Regan-Bold";
  font-size: 30px;
  color: #8854a3;
  text-align: justify;
}
.tomato-desc .project-bubbles {
  display: flex;
  gap: 10px;
  width: 90%;
}
.tomato-desc .project-bubbles span {
  font-family: "Poppins";
  font-size: 18px;
  color: var(--font-black);
  text-align: justify;
  padding: 5px 25px;
  border-radius: 50px;
}
.tomato-desc .bubbles span:nth-child(1) {
  border: 3px solid #da1d2a;
}
.tomato-desc .bubbles span:nth-child(2) {
  border: 3px solid #e7ab1b;
}
.tomato-desc .bubbles span:nth-child(3) {
  border: 3px solid #8854a3;
}
.tomato-desc .bubbles span:nth-child(4) {
  border: 3px solid #009349;
}
.tomato-img {
  flex: 1;
}
.tomato-img img {
  width: 700px;
  border-radius: 60px;
}
.zigzag0 {
  z-index: 5;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -70px;
  right: 190px;
}
.yellow_circle1 {
  z-index: -1;
  width: 250px;
  height: 250px;
  position: absolute;
  top: -130px;
  left: 150px;
}
.yellow_circle2 {
  z-index: -1;
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 150px;
  right: -100px;
}
.project2-box .tomato-pictures {
  z-index: 1;
  position: relative;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.project2-box .tomato-outro {
  display: flex;
  gap: 40px;
  background-image: url("/assets/cloud.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  /* height: 100%; */
}
.yellow_circle3 {
  z-index: -1;
  width: 120px !important;
  height: 120px;
  position: absolute;
  bottom: -50px;
  right: 100px;
}
.tomato-outro .tomato-outro-img {
  z-index: 1;
  position: relative;
  display: flex;
  flex: 1;
  gap: 40px;
}
.tomato-outro div img {
  border-radius: 60px;
  width: 100%;
}
.tomato-outro-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height:100%; */
  align-items: center;
  flex: 0.6;
  font-family: "Poppins";
  font-size: 18px;
  color: var(--font-black);
  text-align: justify;
}
.tomato-pictures img {
  border-radius: 60px;
}
.project2-box .star1 {
  position: absolute;
  width: 70px !important;
  top: -60px;
  right: 30px;
}
.project2-box .star2 {
  position: absolute;
  width: 70px !important;
  bottom: -60px;
  left: 30px;
}
.project2-box .live-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e7ab1b;
  border-radius: 60px;
  height: 250px;
  width: 100%;
  align-items: center;
  margin-bottom: 68px;
}
.live-button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.live-button button {
  font-family: "Poppins";
  font-size: 18px;
  text-align: justify;
  padding: 5px 25px;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fcf7ef;
}
.live-para {
  font-family: "Poppins";
  font-size: 18px;
  text-align: justify;
  /* padding: 15px 0px; */
  color: #fcf7ef;
  /* width: fit-content;
    margin: auto; */
}

.project2-box .project-live-wrapper .live-circle {
  background-color: #8854a3;
}
.project-live-wrapper .live-circle:hover {
  transform: scale(1.11);
}
.project2-box .project-live-wrapper .code-circle {
  background-color: #da1d2a;
  -color: #009349;
}
.project-live-wrapper .code-circle:hover {
  transform: scale(1.11);
}
@media screen and (max-width: 1500px) {
  .project2-wrapper {
    height: 3300px;
  }
  .project2-box {
    height: 3150px;
  }
  .tomato-wrapper {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: 40px;
  }
  .tomato-desc {
    flex: 1;
    background-image: none;
  }
  .tomato-img img {
    width: 100%;
  }
  .tomato-outro {
    flex-direction: column;
    background-image: none;
  }
  .tomato-outro-desc {
    gap: 40px;
  }
  .star1,
  .star2 {
    display: none;
  }
  .yellow_circle1 {
    display: none;
  }
  .yellow_circle2 {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .tomato-wrapper {
    flex-direction: column;
  }
  .project2-wrapper h2 {
    font-size: 60px;
    margin-left: 50%;
    padding-top: 80px;
    margin-top: 0;
  }
  .tomato-outro-img {
    align-items: center;
    justify-content: center;
  }
  .tomato-outro-img img {
    max-width: 100%;
    height: auto;
  }
  .zigzag0 {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .project2-box {
    width: 100%;
  }
  .project2-wrapper h2 {
    margin: auto;
    width: max-content;
    font-size: 45px;
  }
  .pink-flower {
    display: none;
  }
  .tomato-wrapper .bubbles {
    /* width: 450px; */
    flex-wrap: wrap;
    gap: 10px;
  }
  .tomato-desc {
    flex: 1;
  }
  .project2-box .flower {
    display: none;
  }
  .project2-box .yellow_circle3 {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .project2-wrapper {
    height: 1600px;
    margin-top: 1400px;
  }

  .project2-box {
    height: 1450px;
  }
  .globe {
    width: 50px;
  }
  .tomato-wrapper {
    margin-top: 70px;
  }
  .project2-bubbles {
    padding: 0 20px;
    flex-wrap: wrap;
  }
  .tomato-desc p {
    padding: 0 20px;
    font-size: 16px;
  }
  .tomato-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tomato-img img {
    border-radius: 20px;
    width: 70%;
    margin: auto;
  }
  .project2-box .tomato-pictures {
    margin-top: 100px !important;
  }
  .tomato-pictures img {
    border-radius: 20px;
    width: 70%;
    margin: auto;
  }
  .tomato-outro div img {
    border-radius: 20px;
  }
  .tomato-outro-img {
    flex-direction: column;
    width: 70%;
    margin: auto;
    gap: 20px !important;
  }
  .tomato-outro-desc {
    font-size: 16px;
    padding: 0 20px;
  }
  .tomato-outro-desc p {
    padding: 0 20px;
    font-size: 16px;
  }
  .live-wrapper {
    height: 200px;
    border-radius: 20px;
  }
  .live-para {
    text-align: center;
  }
  .project2-box .live-wrapper {
    margin-bottom: 0px;
    border-radius: 20px;
    height: 200px;
  }
}
