.footer-header {
    margin-top: 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.footer-hero .subtitle {
    position: relative;
    font-family: "Poppins";
    letter-spacing: normal;
    font-size: 16px;
    position: absolute;
    /* right: 250px; */
    color: var(--font-black);
    bottom: -20px !important;
}
.footer-contact {
    display: flex;
    align-items: center;
    border: 3px solid #3868a5;
    border-radius: 100px;
    padding: 0 60px;
    gap: 40px;
}
.footer-contact p{
    font-family: "Poppins";
    color: var(--font-black);
}
.footer-contact a{
    text-decoration: none;
    color: var(--font-black);
}
.footer-contact a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer-sub {
    margin-bottom: 10px;
    font-family: "Regan-Bold" !important;
    font-size: 26px !important;
}
.footer-sub span:nth-child(1) {
    color: #e3a81daf;
    
}
.footer-sub span:nth-child(2) {
    color: #3868a5;
}
.footer-sub span:nth-child(3) {
    color: #d41e28;
}
.thankyou-wrapper{
    margin: 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Regan-ExtraBold';
    font-size: 220px;
    line-height: 0.6;
    position: relative;
}
.thank-you-subtitle{
    position: absolute;
    bottom: 0px;
    left: 140px;
    overflow: hidden;
}
.thank-you-subtitle p{
    font-size: 22px;
    color: var(--font-black);
    opacity: 0.8;
    padding: 5px 0;
    white-space: nowrap;
}
.thank span:nth-child(1){
    color: #3868a5;
}
.thank span:nth-child(2){
    color: #e3a81d;
}
.thank span:nth-child(3){
    color: #d41e28;
}
.thank span:nth-child(4){
    color: #009349;
}
.thank span:nth-child(5){
    color: #d3719f;
}

.you span:nth-child(1){
    color: #009349;
    position: relative;
}
.you span:nth-child(2){
    color: #e3a81d;
}
.you span:nth-child(3){
    color: #3868a5;
}
.credit{
    margin-bottom: 0 !important;
    padding-bottom: 0;
    text-align: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.footer-date p  {
    margin-bottom: 10px !important;
}
.credit p{
    font-size: 16px;
    padding: 0 !important;
}
.credit a{
    font-size: 16px;
    color: var(--font-black);
    opacity: 0.7;
    margin-bottom: 10px;
}


@media screen and (max-width: 1500px) {
}
@media screen and (max-width: 1000px) {
    .thank-you-subtitle{
        position: absolute;
        font-size: 18px;
        color: var(--font-black);
        opacity: 0.8;
        bottom: -45px;
        right: 80px;
    }
    .footer-hero{
        width: 100% !important;
    }
}
@media screen and (max-width: 700px) {
    .thankyou-wrapper{
        width: 100%;
        margin: 100px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: 'Regan-ExtraBold';
        font-size: 150px;
        line-height: 0.7;
    }
    .thank-you-subtitle{
        position: absolute;
        font-size: 18px;
        color: var(--font-black);
        opacity: 0.8;
        bottom: -45px;
        right: 80px;
    }
}
@media screen and (max-width: 500px) {
    .footer-contact{
        border: none;
        flex-direction: column;
        gap: 0;
        padding: 0;
    }
    .footer-contact p{
      font-size: 16px;
        margin: 0;
    }
    .footer-contact p:nth-child(2){
        display: none;
    }
    .thankyou-wrapper{
        margin: 100px 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: 'Regan-ExtraBold';
        font-size: 120px;
        line-height: 0.7;
    }
    .thank-you-subtitle{
        display: none;
    }

    .footer-hero .subtitle {
        font-family: "Poppins";
        letter-spacing: normal;
        font-size: 14px;
        position: absolute;
        right: 90px;
        width: 150px;
        color: var(--font-black);
        bottom: -40px !important;
      }
}
