@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Regan-Bold";
  src: url("/fonts/Regarn-Bold.woff2") format("woff2"),
    url("/fonts/Regarn-Bold.woff") format("woff"),
    url("/fonts/Regarn-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Regan-ExtraBold";
  src: url("/fonts/Regarn-ExtraBold.woff2") format("woff2"),
    url("/fonts/Regarn-ExtraBold.woff") format("woff"),
    url("/fonts/Regarn-ExtraBold.ttf") format("truetype");
}

:root {
  --font-black: rgb(61, 61, 61);
}
::selection {
  background-color: #fcf7ef;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fcf7ef;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  /* overflow-x: hidden; */
}

.container {
  width: 1400px;
  margin: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: rgb(176, 176, 176);
  
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 1000px;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 700px;
  }
}
@media screen and (max-width: 700px) {
  .container {
    width: 500px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
}
